body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

td {
    height: 30px;
    vertical-align: top;
}

form {
    margin-top: 20px;
}

label {
    margin-right: 10px;
}

input, select, button {
    margin-right: 10px;
    padding: 5px;
}

.event {
    background-color: #add8e6;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
}
