// <== Variables ==>
// Colors
$primary-color: #16B47B;
$secondary-color: #97BD14;
$gray: #EBEBEB;
$light-gray: #F8F8F8;
$select-color: #16B47B;
$dark-blue: #181820;
$window-bar-height: 1rem;
$window-bar-padding: 0.5rem;
$danger-color: #F43A45;
// Global
$transition-speed: 0.2s;
$g-border-radius: 0.75rem;