# Node.js dependencies
/node_modules

# Electron build artifacts
/dist

# Python cache files
__pycache__/

# Flask virtual environment
src/api/venv

# Compiled Sass files
src/css/*.css

# Exclude the reset.css file from getting ignored
!src/css/reset.css

# Log files
*.log

# Environment variables
.env

# Editor and IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db

# Images
i_*