#timetable {
  width: 100%;
}
#timetable table {
  width: 100%;
}
#timetable table th {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  text-align: center;
  padding: 1rem;
  white-space: nowrap;
}
#timetable table td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}
#timetable table td.filled {
  background-color: #181820;
}
.button-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.day-button {
	background-color: brown;
	border: none;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
}

.filled {
  background-color: black; /* Light green background for filled slots */
}

