.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

td {
    height: 30px;
    vertical-align: top;
}

form {
    margin-top: 20px;
}

label {
    margin-right: 10px;
}

input, select, button {
    margin-right: 10px;
    padding: 5px;
}

.event {
    background-color: #add8e6;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
}
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group select, .form-group input {
    width: 80%;
    padding: 8px;
    box-sizing: border-box;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    text-align: center;
}

.box {
    text-align: center;
    margin-top: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms, visibility 500ms;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
}

.popup h2 {
    margin-top: 0;
    color: #333;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #EB5757;
}

.popup .content {
    max-height: 60%;
    overflow-y: auto;
}